/*
основной цвет заголовков  #212121;
основной белый цвет, основной цвет фона #FFFFFF;
основной цвет текста #757575;
акцент  #2196F3;
вторичный цвет фона #F5F4FA;
цвет фона герой, футер  #2F303A
цвет logo-studio #000000;
*/

/* :root {
  --main-title-color: color #212121;
  --main-text-color: #757575;
  --primary-white-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
  --accent-color: #2196f3;
  --hover-button: #188ce8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
} */

body {
  font-family: Roboto, Tahoma, sans-serif;
  background-color: var(--primary-white-color);
  color: #212121;
  font-size: 14px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid teal; */
}

/* ----------------Лого---------------- */

.logo {
  font-family: 'Raleway', Tahoma, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo--black {
  color: #000000;
}
.logo--white {
  color: var(--primary-white-color);
}

/* -------------------Навигация-------------------- */

.header__nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.logo {
  display: inline-block;
}

.site-nav {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  margin-left: 93px;
}

.menu-list .menu-list__item:not(:last-child) {
  margin-right: 50px;
}

.menu-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  cursor: pointer;

  transition: color var(--transition-duration) var(--timing-function);
}

.menu-list__link.current {
  position: relative;
}

.menu-list__link.current::after {
  content: '';
  position: absolute;

  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;

  left: 0;
  bottom: -1px;
}

/* ---------------------Контакты---------------- */

.contact {
  display: flex;
  margin-left: auto;
}

.contact .contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact__link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--transition-duration) var(--timing-function);
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.menu-list__link:hover,
.menu-list__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.contact__icon {
  margin-right: 10px;
  fill: var(--main-text-color);
}

.contact__item:hover .contact__icon,
.contact__item:focus .contact__icon {
  fill: var(--accent-color);
}

/* --------------------Hero---------------------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-image.jpg);
  background-color: #2f303a;
}

.hero-title {
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  border-radius: 4px;
  border: none;
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-duration) var(--timing-function);
}

.button:hover,
.button:focus {
  background-color: var(--hover-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*--------------- Преимущества----------------- */

.features {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-list {
  display: flex;
  margin-left: -30px;
}

.features-list__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.features-list__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border: none;
  border-radius: 4px;
  background-color: var(--secondary-bcg-color);
}

.features-list__title {
  margin-bottom: 10px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.features-list__text {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* ------------Чем занимаемся---------------- */

.section-work {
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.work {
  display: flex;
  margin-left: -30px;
}

.work__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
}

.work__box {
  position: relative;
}

.work__text {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

/* --------------Команда-------------------- */

.section-staff {
  padding: 94px 0;
  background-color: var(--secondary-bcg-color);
}

.staff-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.staff-box {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.section-staff-list {
  display: flex;
  margin-left: -30px;
}

.staff-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;

  background: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.staff-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.staff-soc-list {
  display: flex;
  justify-content: center;
}

.staff-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;

  transition: background-color var(--transition-duration) var(--timing-function);
}

.staff-soc-icon {
  fill: #afb1b8;
  transition: fill var(--transition-duration) var(--timing-function);
}

.staff-soc-link:hover,
.staff-soc-link:focus {
  background-color: var(--accent-color);
}

.staff-soc-link:hover .staff-soc-icon,
.staff-soc-link:focus .staff-soc-icon {
  fill: var(--primary-white-color);
}

.staff-soc-item + .staff-soc-item {
  margin-left: 10px;
}

/*-------------- Постоянные клиенты ------------*/

.section-clients {
  padding: 94px 0;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition: border var(--transition-duration) var(--timing-function);
}

.clients-icon {
  fill: #afb1b8;
  transition: fill var(--transition-duration) var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* -----------------Footer------------- */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container.footer-cont {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-list li + li {
  margin-top: 9px;
}

.footer-adress {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  font-style: normal;
  transition: color var(--transition-duration) var(--timing-function);
}

.footer-adress:hover,
.footer-adress:focus {
  color: var(--accent-color);
}

.footer-contact {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color var(--transition-duration) var(--timing-function);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

.footer-social {
  margin-left: 70px;
}

.footer-soc-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
}

.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--timing-function);
}

.footer-soc-icon {
  fill: var(--primary-white-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.subscribe {
  margin-left: 93px;
}

.sub-form {
  display: flex;
}

.sub-label {
  margin-right: 12px;
}

.sub-email {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background: transparent;
  outline: none;
}

.sub-email::placeholder {
  font-size: 16px;
  line-height: 1.25;

  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.sub-email:focus-visible {
  color: var(--primary-white-color);
}

.sub-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}

/* -------------Портфолио--------------*/

.portfolio {
  padding: 94px 0;
}

.portfolio-btn {
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  font-family: inherit;
  color: var(--main-title-color);
  background-color: var(--secondary-bcg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-align: center;
  transition: background-color var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function),
    box-shadow var(--transition-duration) var(--timing-function);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-filter {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.portfolio-filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-filter li + li {
  margin-left: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
  height: 404px;
  transition: box-shadow var(--transition-duration) var(--timing-function);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06);
}

.portfolio-item:hover .portfolio-top-text {
  transform: translateY(0%);
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  background: rgba(33, 150, 243, 0.9);

  padding: 63px 24px;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;

  transform: translateY(101%);
  transition: transform var(--transition-duration) var(--timing-function);
}

.text-box {
  padding: 20px 24px;
  background-color: var(--primary-white-color);
  border: 1px solid #eeeeee;
}

.portfolio-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-direction {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.portfolio-link {
  text-decoration: none;
  color: var(--main-title-color);
}

/* -------------Модальное окно------------ */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
  transition: opacity var(--transition-duration) var(--timing-function),
    visibility var(--transition-duration);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: scale(0.1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: scale(1);
  transition: transform var(--transition-duration) var(--timing-function);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--primary-white-color);
  outline: none;
}

.close-icon {
  transition: fill var(--transition-duration) var(--timing-function);
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 12px;
}

/*---------------- Формы ------------------*/

.form-field {
  margin-bottom: 10px;
}

.modal-input-wrap {
  position: relative;
}

.form-lable {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  transition: border var(--transition-duration) var(--timing-function);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.form-comment {
  outline: none;
  transition: border var(--transition-duration) var(--timing-function);
}

.form-comment:focus {
  border-color: var(--accent-color);
}

.form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--main-title-color);
  transition: fill var(--transition-duration) var(--timing-function);
}

/* ------------------Textarea---------------- */

.comment-label {
  position: relative;
  display: block;
  width: 448px;
  height: 138px;
  margin-bottom: 20px;
}

.form-comment {
  position: absolute;
  resize: none;
  left: 0;
  bottom: 0;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border var(--transition-duration) var(--timing-function);
}

/* ---------------Чекбокс----------------- */

.check-policy {
  display: flex;
  align-items: center;
  margin-left: 14px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.icon-mod {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 7px;
  transition: background-color var(--transition-duration) var(--timing-function);
}

.check-icon {
  fill: transparent;
  transition: fill var(--transition-duration) var(--timing-function);
}

.check-input:checked + .check-policy .icon-mod {
  background-color: var(--accent-color);
  border: none;
}

.check-input:checked + .check-policy .check-icon {
  fill: var(--primary-white-color);
}

.check-condition {
  color: var(--accent-color);
}

/* ----------Кнопка отправки форм ----------------*/

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
